APP_PORT=8080
TCP_PORT=50051

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASS=admin
DB_NAME=dpsystem

MINIO_USER=minioadmin
MINIO_PASS=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
LINK_VALIDITY_PERIOD_IN_HOURS=2

MINIO_UPLOADS_BUCKET=uploads
MINIO_RESULTS_BUCKET=completed

AMQP_URL=amqp://rabbitmq_user:password@rabbitmq:5672/
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASS=password
MAX_RETRIES=5
RETRY_INTERVAL=5

REDIS_ADDR=redis:6379
REDIS_PASSWORD=12121212
REDIS_USER=admin
REDIS_USER_PASSWORD=123123123
